  <form class="ui form">
  <div class="field">
    <label>Name </label>
    <input type="text" name="first-name" placeholder="George Kastanza">
  </div>
  <div class="field">
    <label>Description</label>
    <input type="text" name="description" placeholder="This is a description">
  </div>
  <button class="ui green button" type="submit">Submit</button>
</form>